/*CSS reset settings here*/
*{
    margin: 0px;
    padding: 0px;
    }
#wrapper {
    width: 690px;
    background-color: bisque;
    margin: 0px auto;
    padding: 25px;
    overflow: hidden;
    }
#header {
    height: 100px;
    margin: 10px;
    text-align: center;
    }
#header img {
    height: 70px;
    }
h1{
    display: inline-block;
    margin-top: 0px;
    }
.odd {
    width: 105px;
    height: 105px;
    padding: 8px;
    background-color: #77b6ea;
    border: 2px solid black;
    display: inline-block;
    vertical-align: top;
    margin-right: 8px;
    margin-bottom: 8px;
    }
.even {
    width: 105px;
    height: 105px;
    padding: 8px;
    background-color: #fc6471;
    border: 2px solid black;
    display: inline-block;
    vertical-align: top;
    margin-right: 8px;
    margin-bottom: 8px;
    }
.odd img {
    width: 105px;
    height: 105px;
    background-color: white;
    }
.even img {
    width: 105px;
    height: 105px;
    }
