*{
    margin: 0px;
    padding: 0px;
    }

#wrapper {
    width: 800px;
    height: auto;
    background-color: lightgray;
    margin: 10px auto;
    padding: 10px;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    }

    h1 {
        margin: 20px 10px;
        }

    h2 {
        margin: 20px 10px;
    }

    #search {
        margin-top: 5px;
        background-color: #ccffff;
        border-radius: 5px;
        padding: 10px;
        width: 700px;
        box-shadow: 2px 2px lightgray;
    }
    
    #search input[type=text] {
        padding: 5px;
        width: 470px;
        font-size: 15px;
        /* color: lightgray;  */
        text-align: center;
        border: none;
      }
    
    #search input[type=submit] {
        display: inline-block;
        vertical-align: top;
        padding: 5px;
        margin-left: 20px;
        background: #3399cc;
        font-size: 10px;
        color: white;
        border-radius: 3px;
        border: 1px solid white;  
        box-shadow: 2px 2px lightgray;  
      }

    #results {
        width: 400px;
        margin: 20px 20px;
        padding: 20px;
    }

    #results h2 {
        margin: 20px 0px;
    }

    #results p {
        margin-top: 20px;
    }
    
